<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>停止</title>
</head>
<body>
    <h1>当ドメインのYUKIは数日以内に停止されます</h1>
    <p>帯域幅使用量削減のため当インスタンスとドメインの紐付けが削除されます</p>
    <p>紐付けが削除されるまで<a href="/bbs">YUKIBBSは利用できます</a></p>
    <p>AD:<a href="https://yukideploy.onrender.com">YUKIdeployは誰でも簡単にyukiを作成するサービスです</a></p>
    <h2>YUKIdeployにドメインを登録した方へ</h2>
    <p>ドメインの紐付けが削除された後もう一度登録することでもう一度ドメインの登録ができます</p>
    <p><a href="https://yukideploy.onrender.com">yukideployURL1</a><br><a href="https://yukideploy.f5.si">yukideployURL2</a><br><a href="https://yukideploy.zttt.f5.si">yukideployURL3</a><br></p>
    <p><small>当サイトは<a href="https://yukideploy.onrender.com">YUKIdeploy</a>に登録され過度なアクセスを受けるようになったサーバーに紐付けされたドメインの紐付け削除前に表示される画面です</small></p>
</body>
</html>
